/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
/app/config/parameters.yml
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep
/build/
/vendor/
/components/
/bin/
/composer.phar
*~
web/css/
web/js/
web/sitemap*
web/vendor
.idea/*
npm-debug.log
/.tmp
/.sass-cache
/node_modules/
web/built/