<div class="small-12 columns categoryFilter">
	<span data-tooltip class="has-tip" title="Retirer les filtres">
		<img class="circle-stroked" src="{{ asset('bundles/bonnesadresses/images/maki-icons/circle-stroked-18.png') }}">
	</span>
	{% for addresseType in addresseTypes %}
		<span data-tooltip class="has-tip" title="{{ addresseType.description }}">
			<img class="{{ addresseType.name }}" src="{{ asset('bundles/bonnesadresses/images/maki-icons/' ~ addresseType.name ~ '-18.png') }}">
		</span>
	{% endfor %}
</div>
