html, body, .row, .columns, #map { height:100%; }
body { padding-top: 10px; }
/*circle { fill: #0A00FF; fill-opacity: 0.7; stroke: #0A00FF; }*/
#content { overflow-y: scroll; height: 90%; }
.olLayerDiv image:hover { cursor: pointer; }
.categoryFilter img { cursor: pointer; }
.has-tip { border-bottom: 0; }
