html, body, #Map { height:100%; }
body { font-family: Verdana; font-size: 14px; }
#Map { width: 66%; float: left; }
#content { width: 33%; min-height: 50px; float: right; }
circle { fill: #0A00FF; fill-opacity: 0.7; stroke: #0A00FF; }
